<h1>Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Release Year</th>
      <th>Director</th>
      <th>Filming Location</th>
      <th>Country</th>
      <th>Actors</th>
    </tr>
  </thead>
  <tbody id="movies" data-controller="turbo-frame">
  <%= turbo_frame_tag 'movies' do %>
    <%= render @movies %>
  <% end %>
  </tbody>
</table>

<%= turbo_frame_tag 'pagination' do %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<% end %>
